@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800i,900|Share+Tech+Mono');

body {
  background-color:#C1C8E4;
  /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
  background: radial-gradient(circle, rgba(250,255,184,1) 0%, rgba(81,181,164,1) 100%);
}


a  {
  color: darkblue;
  background: -webkit-linear-gradient(blue,purple );
  -webkit-background-clip: text;
  /*-webkit-text-fill-color: transparent;*/
  font-family: Share Tech Mono, monospace;
}

h1 {
  background: -webkit-linear-gradient(black,purple );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
